*{
    box-sizing: border-box;
}

body{
    background: f5f5f5;
    margin: 0;
    padding: 0;
    font-family: 'poppins';
    color: #000000;
    position: relative;
}

html{
    scroll-behavior: smooth;
}

a{
    text-decoration: none;
    color: #000000;
}

a:hover{
    text-decoration: none;
    color: #671d8b;
}

i{
    color: #12021a;
}
.mobile{
    display: none;
}

.logo{
    font-size: 32px;
    font-weight: 900;
}

.logo span{
    color: linear-gradient(to right, rgb(231, 88, 138),rgb(250, 20, 20));
}

.navmenu a{
    text-transform: capitalize;
}

.call a{
    background: linear-gradient(to right, rgb(231, 88, 138),rgb(250, 20, 20));
    border-radius: 50px;
    width: 150px;
    text-align: center;
    padding: 15px;
    color: #ffffff;
}

.menuBar{
    border: 1px solid #671d8b;
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
}

.menuBar-icon{
    width: 30px;
    height: 3px;
    background: #000000;
    margin-top: 2px;
}

.hero-text{
    width: 400px;
    color: #12021a;
}

.hero-text h2{
    font-weight: 900; 
    font-size: 38px;
}

.hero-text p{
    font-size: 20px;
    font-weight: 300;
}
.hero-links{
    display: flex;
    gap: 20px;
    text-transform: capitalize;
}

.roundlink{
    border-radius: 50px;
    width: 200px;
    text-align: center;
}

.roundlink-2{
    width: 150px;
    text-align: center;
    border-radius: 50px;
    border: 1px solid gold;
    transition: .3s;
}

.roundlink-2:hover{
    border-color: #12021a;
    color: #000000;
}

.popimg img {
    transform: translateY(-10%) translateX(10%);
}

.carousel-inner img {
    width: 25%;
    height: 100%;
    transform: translateX(150%);
    
}

.division-3{
    display: grid;
    grid-template-columns:auto auto;
    width: 100%;
    justify-content: center;
    align-items: center;
    grid-gap: 30px;
    color: #190324;
}

.division-3-text{
    grid-column-start: 1;
    grid-column-end: 3;
    width: 55%;
    text-align: center;
}

.division-3-text h2{
    font-weight: 900;
    letter-spacing:1px;
    font-size: 38px;
    word-spacing: 2px;
}

a.trans{
    width: 150px;
    text-align: center;
    border-radius: 50px;
    border: 1px solid gold;
    transition: .3s;
}

.division-4{
    display: flex;
    justify-content: center;
    gap: 50px;
    height: 800px;
}

.division-4-text{
    width: 600px;
}

.division-4-text h2{
    font-weight: 900;
    font-size: 38px;
    letter-spacing: 2px;
}

.division-4-text p{
    font-size: 20px;
}

.sia{
    background: linear-gradient(to right, rgb(231, 88, 138),rgb(250, 20, 20));
    width:200px;
    border-radius: 50px;
}

/* Slideshow container */
.division-5-slidecontainer {
    width: 100%;
    position: relative;
    margin:auto;
}

/* Next & previous buttons */
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: rgb(8, 2, 36);
    font-weight: bold;
    font-size: 28px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
}

/* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

/* The dots/bullets/indicators */
.dot {
    cursor: pointer;
    height: 5px;
    width: 5px;
    margin: 0 2px;
    background: linear-gradient(to right, rgb(231, 88, 138),rgb(250, 20, 20));
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.Active,.dot:hover {
    background: #717171;
}



.mySlides{
    display: none;
    
}

/* Caption text */
.captionText{
    width: 700px;
    font-size: 18px;
    text-align: center;
    padding: 8px 12px;
    position: absolute;
    top: 0;
    left: 20%;
}

.slideContent{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 25px 12px;
    position: absolute;
    top: 100px;
    left: 25%;
}

.slideContent img{
    border: 1px solid black;
    clip-path: circle(50px);
}
.status{
    margin-top: 20px;
    color: rgb(11, 1, 26);
}




@media only screen and (max-width:768px){
    .mobile{
        display: block;
    }

    .desktop{
        display: none;
    }
}